/* body{
    padding: 10px; 
}
*/
h1 {
  color: blue;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  /* margin: 10px; */
  background-color: bisque;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* border: 1px solid black; */
  padding: 10px;
}

ul {
  margin-top: 40px;
}

li {
  font-size: 22px;
  margin: 15px 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
}

footer {
  text-align: center;
  /* margin-top: 40px; */
  font-size: 18px;
  background-color: aqua;
}

div {
  text-align: center;
}

input {
  padding: 8px;
  margin: 10px 0;
  width: 300px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px 12px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
