<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
</head>
<body>
    <h2>All Data</h2>
    <table class="table table-striped table-success">
        <thead>
            <tr>
                <th>rollno</th>
                <th>name</th>
                <th>branch</th>
                <th>email</th>
                <th>dob</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for i in data %}
                <tr class=
                {% if i.id|divisibleby:2 %}
                    "table-primary"
                {% else %}
                    "table-danger"
                {% endif %}
                >
                    <td>{{ i.rollno }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.branch }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.dob }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>